@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes appear {
    from {
        transform: translateY(15px);
    }
    to {
        transform: translateY(0px);
    }
}
